parameters:
    level: 8

    paths:
        - "src/"

    excludePaths:
        - "vendor"

    bootstrapFiles:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
